.App {
  text-align: center;
  background-color: #2f85e2;
  min-height: 100vh; /* Ensure minimum height is full viewport height */
  min-width: 100vw; /* Ensure minimum width is full viewport width */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App canvas {
  width: 100%;
  height: 100%;
  display: block;
  aspect-ratio: auto; 
}

.container {
  /* position: relative; */
  width: 100%;
  height: 100%;
  overflow: hidden; 
  position: absolute;
}

.text-container {
  overflow: visible;
  position: absolute;
  height: 4em; 
  width: 100%;
  /* white-space: nowrap; */
}


.text {
  line-height: 1em;
  text-align: left;
  font-size: 4em;
  word-break: break-word;
  position: absolute;
  mix-blend-mode: difference;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  display: block;
  height: 5000%;
  color: #00ff00;
  
}

.text span {
  display: block;
  height: 50%; /* Each copy takes up half the total height */
  animation: scroll 40s linear infinite;
}


/* animate the text so that it autoscrolls */

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-200%); /* Move up by half the total height */
  }
}

